In [1]:
import pandas as pd

In [9]:
listt=[
        ['a',1],
        ['b',2],
        ['c',3]
    ]

In [10]:
df=pd.DataFrame(listt, columns=['Name','Number'])

In [11]:
df

  Name  Number
0    a       1
1    b       2
2    c       3