In [1]:
import pandas as pd

In [2]:
lst=[
    [1,2,3,4],
    [5,6,7],
    [8,9]
    ]

In [9]:
df=pd.DataFrame(lst, columns=['col1','col2','col3','col4'], index=['row1','row2','row3'])

In [7]:
df

   col1  col2  col3  col4
0     1     2   3.0   4.0
1     5     6   7.0   NaN
2     8     9   NaN   NaN

In [10]:
df.transpose()

      row1  row2  row3
col1   1.0   5.0   8.0
col2   2.0   6.0   9.0
col3   3.0   7.0   NaN
col4   4.0   NaN   NaN