In [1]:
# Import pandas package
import pandas as pd

In [2]:
# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj', 'Geeku'],
        'Age':[27, 24, 22, 32, 15],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj', 'Noida'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd', '10th'] }

In [9]:
pt = {'a', 'b', 'c', 'd', 'e'}

In [33]:
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data,pt)
df.reset_index(inplace = True, drop=False)
df

  index    Name  Age    Address Qualification
0     b     Jai   27      Delhi           Msc
1     d  Princi   24     Kanpur            MA
2     a  Gaurav   22  Allahabad           MCA
3     c    Anuj   32    Kannauj           Phd
4     e   Geeku   15      Noida          10th